/*@import "tailwindcss";*/
@config "../js/tailwind.config.js";
@tailwind base;
@tailwind components;
@tailwind utilities;


/*@theme {
    --color-primary: #6366f1;
    --color-secondary: #8b5cf6;
    --color-accent: #06b6d4;
    --color-dark: #0f172a;
    --color-dark-light: #1e293b;
    --font-sans: Inter, system-ui, sans-serif;
    --font-decorative: "Pacifico", cursive;
}*/
/*html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}*/