<!DOCTYPE html>
<html class="h-full bg-white" lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Prn222Project</title>
    <link rel="stylesheet" href="~/css/tailwind.css" />
    <link href="~/lib/font-awesome/css/all.css" rel="stylesheet">
</head>
<body class="h-full">
    @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
